
body{ margin: 0%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
    
  .caixa1{ background: url(imagens/monkey-1197100.jpg) ;
           background-size:cover;
           color: white;
            height:900px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            background-color: olivedrab;
            padding:100px;
           text-align: center;}
     

  h1{ font-size:170px;
      margin: auto;
      position: absolute ; 
      top:1px;
      left:245px; }

       
  .subtítulo{ color: aliceblue; 
                margin-top: 70px;
                font-size: 20px;
                background-color:black;
                text-align: center;
              }


  .ab{ border: solid white 2px;
       width:110px;
       height:40px;
       padding-top: 18px;
       margin-top: 80px;}

       
  .ab:hover{ background-color: rgb(1, 65, 26);}


  .a{ border: solid white 2px;
       width:110px;
       height:40px;
       padding-top: 20px; }


  .a:hover{ background-color: rgb(1, 65, 26);}


  .botões{ border-top: solid white 2px; }
    

  .ODS{ width: 250px;
          height:250px;
          float: left;
          margin: 7px;}
       

  h3{ font-size: 40px;
        text-align:30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 5px;
        color: rgb(60, 170, 70);
      margin:3px;}

      
  .vtitulo{ color: rgb(60, 170, 70);
        background-color:black;
        font-size: 27px; }


  .video{
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-align: center;
      background-color: black;
      color:black;
      margin:0%;} 


  iframe{ margin: 0%;
      background-color: black;}


  .assista{background-color:olivedrab;
        background-color: black;}



  h4{ color: rgb(60, 170, 70);
      font-size: 40px; 
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-align: center;}

    


  .faça{ font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        margin-left: 10px; }

  h5{ font-size: 40px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: rgb(60, 170, 70);
      text-align: center; } 

  .obja{ font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 20px;
            margin-left: 10px;
      }          

  h6{ font-size: 40px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: rgb(60, 170, 70);
      text-align: center;
      }

      


  .parte{ font-size: 30px;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          color: black;
          text-align:center; }


  li{font-size:20px;
      padding:10px;}

 .localização{background-color: black; 
        color:rgb(60, 170, 70)}

  .onde{margin-left:88px;
         font-size: 20px;}
         
  .como{font-size:20px;
      margin-left:94px;}
            
       
  .ob{font-size:20px;
        color:white;
        margin-left:25px;}
        
  img{width: 280px;
        height: 160px;
        font-size:50px;
        margin-left:25px;}
      
     .localização, .mapa,.final{ float: left;
width:30%;}
  
  footer{color:rgb(60, 170, 70) ;
        font-size: 20px;
        background-color: black;
        float: left;}

 .final{ font-size: 15px;}
        
      
@media screen and ( max-width:100%){.left, .main, .rigth{ width: 100%;}}
